<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Login Form</title>

</head>
<body> 
<div class="container">
	<h2>User Login</h2>
	<form action="{{ url_for('otp_validation') }}" method="post">
      
        {% if number %}
    <div class="alert alert-warning">
        <input type="text" id="opt_hidde" name="opt_hidde" value="{{ number }}">
    </div>
    {% endif %}
        <div class="form-group">
            <label for="opt_none_hidde">Enter your opt:</label>
            <input type="text" class="form-control" id="opt_none_hidde" name="opt_none_hidde" placeholder="Enter email or User Name">
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
</body>
</html>
