<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Login Form</title>

</head>
<body> 
<div class="container">
	<h2>User Login</h2>
	<form action="{{ url_for('login') }}" method="post">
        {% if number112 is defined and number1 %}
    <div class="form-group">
        <input type="text" class="form-control" id="opt_hidde" name="opt_hidde" placeholder="Enter email or User Name" value='{{ number112["number"] }}'>
    </div>
{% endif %}
        <div class="form-group">
			enter your opt: <input type="text" class="form-control" id="opt_none_hidde" name="opt_none_hidde" placeholder="Enter email or User Name" name="email">
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
		
	</form>
</div>
</body>
</html>
